.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

@media (prefers-color-scheme: dark) {
  .loader-wrapper {
    background-color: var(--black-2);
  }
}
