.profile-edit-form__item:first-child {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.profile-edit-form__photo-input {
  display: none;
}

#photo-input-label {
  position: relative;
  display: inline-block;
}

#photo-input-label::after {
  content: '\e412';
  font-family: 'Material Symbols Rounded';
  font-size: var(--font-size-xl);
  color: var(--white);
  position: absolute;
  /* half the picture height minus half the line height */
  top: calc(36px - 1.5rem);
  /* half the picture width minus half the font size */
  left: calc(36px - (var(--font-size-xl) / 2));
}

#photo-input-label img {
  border-radius: 8px;
}

#photo-input-text {
  display: inline-block;
  margin-left: 24px;
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.8rem;
  letter-spacing: -0.035em;
  color: var(--gray-1);
}

.profile-edit-form__item textarea {
  resize: none;
}

.profile-edit-form__item:not(:first-child) label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.8rem;
  letter-spacing: -0.035em;
  color: var(--black-3);
}

.profile-edit-form__item:not(:first-child) > *:nth-child(2) {
  margin-bottom: 24px;
}

.profile-edit-form__item:not(:first-child) > *:nth-child(2):not(.iti) {
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.8rem;
  letter-spacing: -0.035em;
  color: var(--black-3);
  width: min(40ch, 100%);
}

.iti {
  width: 100%;
}

.iti input {
  width: min(40ch, 100%);
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.8rem;
  letter-spacing: -0.035em;
  color: var(--black-3);
}

.profile-edit-form__item:not(:first-child) input::placeholder,
.profile-edit-form__item textarea::placeholder {
  color: var(--gray-2);
}

.profile-edit-form__show-password-button {
  border-radius: 12px;
  background: none;
  margin-left: 10px;
  padding: calc(8px + 1px);
  color: var(--gray-1);
  cursor: pointer;
  line-height: 1.8rem;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .profile-edit-form__show-password-button {
    color: var(--white);
  }
}

.profile-edit-form__show-password-button--show,
.profile-edit-form__show-password-button--hide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-edit-form__show-password-button--show::after {
  content: '\e8f4';
}

.profile-edit-form__show-password-button--hide::after {
  content: '\e8f5';
}

.profile-edit-form__submit-button {
  background: #2f80ed;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 2.2rem;
  letter-spacing: -0.035em;
  color: var(--white);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  #photo-input-text {
    color: var(--gray-3);
  }

  .profile-edit-form__item:not(:first-child) label {
    color: var(--gray-3);
  }
}
