.error-fallback {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: var(--black-3);
  background-color: var(--white);
}

.error-fallback a {
  font-size: var(--font-size-xl);
}

@media (prefers-color-scheme: dark) {
  .error-fallback {
    color: var(--gray-3);
    background-color: var(--black-2);
  }
}
