.authenticating {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.authenticating__title {
  font-weight: 500;
  letter-spacing: -0.035em;
  color: var(--black-3);
  font-size: var(--font-size-xxl);
  line-height: 3.3rem;
}

@media (prefers-color-scheme: dark) {
  .authenticating {
    background-color: var(--black-2);
  }

  .authenticating__title {
    color: var(--gray-3);
  }
}
